{% from "_formsH.html" import render_field %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\css\index.css">
    <title>Inicio</title>
    
</head>
<body>
    <div class = "fondo2">
        <div class = "titulo">
            <h1 style="color: white;">Tu Carrito</h1>
        </div>
        
        <div class="main">
            <div class="form">
                <form method=post class="formulario">
                    <label for="producto" class="pro" >Producto</label>
                    <select name="producto" id="producto" >
                      <option value="Americana">Americana</option>
                      <option value="Hawaiana">Hawaiana</option>
                      <option value="Vegetariana">Vegetariana</option>
                      <option value="Chicken BBQ">Chicken BBQ</option>
                      <option value="Suprema">Suprema</option>
                      <option value="Napolitana">Napolitana</option>
                      <option value="Margarita">Margarita</option>
                      <option value="Meet Lover">Meet Lover</option>
                      <option value="Champiñones">Champiñones</option>
                      
                    </select>
                    {{ render_field(form.cantidad) }}
                    <label for="size" class="pro" >Size</label>
                    <select name="size" id="size" >
                      <option value="personal">personal</option>
                      <option value="mediana">mediana</option>
                      <option value="familiar">familiar</option>
                      
                      
                    </select>
                    <br>
                </br>
                    <input type="submit" class="btn btn-primary" value="Submit" />
              </form>
            </div>
        
    
            <table class="default">
                <thead>
                    
                    {% for pizza in pizzas%}
                    <tr>
                        
                        <td class ="product">
                            <button id = {{pizza.id}} onclick="show_data({{pizza.id}})">{{pizza.producto}}</button>
                        </td>
    
                        <td class="product1">
                            <p>{{pizza.size}}</p>
                        </td>
                        <td class="product1">
                            <p>{{pizza.cantidad}}</p>
                        </td>
                        
                        <td class="product2">
                            <button id = {{pizza.id}} class="btn btn-primary" onclick="delete_data({{pizza.id}})" style="background-color: red; color: azure;">Borrar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </thead>
        
            </table>
            
    
        
    
        <div id="show-info" class="hidden">
            <div class="box">
            <div id="content">
                <h1>Datos de la pizza</h1>
                <ul id = 'todos'>
    
                </ul>
                <button onclick="ocultar()">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
    
</body>
</html>

<script>
    function show_data(user){
        document.getElementById('todos').innerHTML = '';
        console.log(user);
        fetch('/show-data/'+user, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(response) {
            console.log('response: ', response);
            return response.json();
        }).then(function(responseJson) {
            console.log('responseJson = ', responseJson);
            const li1 = document.createElement('li');
            const li2 = document.createElement('li');
            const li3 = document.createElement('li');
            const li4 = document.createElement('li');
            li1.innerHTML = responseJson['user'];
            li2.innerHTML = responseJson['producto'];
            li3.innerHTML = responseJson['cantidad'];

            li4.innerHTML = responseJson['size'];
        

            document.getElementById('show-info').className = '';
        })
    }
    function ocultar(){
        document.getElementById('show-info').className = 'hidden'; 
    }

    function delete_data(id){
        fetch('/delete/'+id,{
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(function(response){
            return response.json();
        }).then(function(responseJson){
            location.reload();
        })
    }

</script>












































